@using Microsoft.AspNetCore.Identity
@inject UserManager<BlogUser> UserManager
@inject IImageService _ImageService
@{
    BlogUser? blogUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pen #> Sword</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/ucqzpmpwmqslx36vd3od080p58srtac0rerc89bbfedkzpmg/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <partial name="_LogoutPartial" />
    <div class="main-wrapper">
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <span title="Light Mode">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <span title="Dark Mode">Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header -->
        <header class="header axil-header header-light header-sticky header-with-shadow">
            <div class="header-wrap">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                        <div class="logo">
                            <a asp-controller="BlogPosts" asp-action="Index" class="d-flex align-items-center">
                                <img class="dark-logo" src="~/img/Pen-Sword_Title-Logo_Light.png" alt="Logo Image" style="border-radius: 5px;">
                                <img class="light-logo" src="~/img/Pen-Sword_Title-Logo_Dark-Header.png" alt="Logo Image" style="border-radius: 5px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <nav class="mainmenu-nav">
                                <!-- Start Main Menu Nav -->
                                <ul class="mainmenu">
                                    <li><a asp-controller="BlogPosts" asp-action="Index">Home</a></li>
                                    <li class="menu-item-has-children">
                                        <a>Posts</a>
                                        <ul class="axil-submenu">
                                            <li>
                                                <a class="hover-flip-item-wrapper" asp-action="Index" asp-controller="BlogPosts">
                                                    <span class="hover-flip-item">
                                                        <span data-text="All Posts">All Posts</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" asp-action="PopularBlogs" asp-controller="BlogPosts">
                                                    <span class="hover-flip-item">
                                                        <span data-text="Popular Posts"> Popular Posts</span>
                                                    </span>
                                                </a>
                                            </li>
                                            @if (User.Identity!.IsAuthenticated)
                                            {
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-action="FavoriteBlogs" asp-controller="BlogPosts">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Favorite Posts"> Favorite Posts</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a asp-action="ContactMe" asp-controller="Home">Contact Us</a></li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="menu-item-has-children">
                                            <a>Author</a>
                                            <ul class="axil-submenu">
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="Index">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Admin">Admin</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="hover-flip-item-wrapper" href="~/swagger">
                                                        <span class="hover-flip-item">
                                                            <span data-text="APIs">APIs</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="Create">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Add New Post">Add New Post</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="AuthorArea">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Manage Posts">Manage Posts</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Index">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Manage Categories">Manage Categories</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Tags" asp-action="Index">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Manage Tags">Manage Tags</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                                <!-- End Main Menu Nav -->
                            </nav>
                        </div>
                    </div>
                    <!-- Start Search and User Area -->
                    <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                        <div class="header-search text-end d-flex align-items-center">
                            <form asp-action="SearchIndex" asp-controller="BlogPosts" class="header-search-form d-sm-block d-none">
                                <div class="axil-search form-group">
                                    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                    <input type="text" class="form-control" placeholder="Search" name="searchString">
                                </div>
                            </form>
                            <div class="mobile-search-wrapper d-sm-none d-block">
                                <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                                <form asp-action="SearchIndex" asp-controller="BlogPosts" class="header-search-form">
                                    <div class="axil-search form-group">
                                        <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                        <input type="text" class="form-control" placeholder="Search" name="searchString">
                                    </div>
                                </form>
                            </div>
                            <ul class="metabar-block">
                                <li class="nav-item dropdown has-arrow main-drop">
                                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="user-img">
                                            <img src="" alt="">
                                            <span class="status online"></span>
                                        </span>
                                        @if (User.Identity!.IsAuthenticated)
                                        {
                                        <span>
                                            <img src="@_ImageService.ConvertByteArrayToFile(blogUser!.ImageData, blogUser.ImageType, DefaultImage.BlogUserImage)" />
                                        </span>
                                        }
                                    </a>
                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        <div class="dropdown-menu animate__slideInDown">
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><p style="color:black">My Profile</p></a>
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit();"><p style="color:black">Logout</p></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown-menu animate__slideInDown">
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><p style="color:black">Sign In</p></a>
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><p style="color:black">Register</p></a>
                                        </div>
                                    }
                                </li>
                            </ul>
                            <!-- Start Hamburger Menu  -->
                            <div class="hamburger-menu d-block d-xl-none">
                                <div class="hamburger-inner">
                                    <div class="icon"><i class="fal fa-bars"></i></div>
                                </div>
                            </div>
                            <!-- End Hamburger Menu  -->
                        </div>
                    </div>
                    <!-- End Search and User Area -->
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Mobile Menu Area  -->
        <div class="popup-mobilemenu-area">
            <div class="inner">
                <div class="mobile-menu-top">
                    <div class="logo">
                        <a asp-controller="BlogPosts" asp-action="Index">
                            <img class="dark-logo" src="~/img/Pen-Sword_Title-Logo_Light.png" alt="Logo Image" style="border-radius: 5px;">
                            <img class="light-logo" src="~/img/Pen-Sword_Title-Logo_Dark-Header.png" alt="Logo Image" style="border-radius: 5px;">
                        </a>
                    </div>
                    <div class="mobile-close">
                        <div class="icon">
                            <i class="fal fa-times"></i>
                        </div>
                    </div>
                </div>
                <!-- Start Mobile Menu Nav-->
                <ul class="mainmenu">
                    <li><a asp-controller="BlogPosts" asp-action="Index">Home</a></li>
                    <li class="menu-item-has-children">
                        <a>Posts</a>
                        <ul class="axil-submenu">
                            <li><a asp-action="Index" asp-controller="BlogPosts">All Posts</a></li>
                            <li><a asp-action="PopularBlogs" asp-controller="BlogPosts">Popular Posts</a></li>
                            <li><a asp-action="FavoriteBlogs" asp-controller="BlogPosts">Favorite Posts</a></li>
                        </ul>
                    </li>
                    <li><a asp-action="ContactMe" asp-controller="Home">Contact Me</a></li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="menu-item-has-children">
                            <a>Author</a>
                            <ul class="axil-submenu">
                                <li><a asp-controller="BlogPosts" asp-action="Index">Admin</a></li>
                                <li><a href="~/swagger">APIs</a></li>
                                <li><a asp-controller="BlogPosts" asp-action="Create">Add New Post</a></li>
                                <li><a asp-controller="BlogPosts" asp-action="AuthorArea">Manage Posts</a></li>
                                <li><a asp-controller="Categories" asp-action="Index">Manage Categories</a></li>
                                <li><a asp-controller="Tags" asp-action="Index">Manage Tags</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <!-- End Mobile Menu Nav-->
            </div>
        </div>
        <!-- End Mobile Menu Area  -->

        @RenderBody()

        <!-- Start Footer Area  -->
        <div class="axil-footer-area axil-footer-style-1 footer-variation-three">
            <!-- Start Footer Top Area -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="logo">
                                <a asp-controller="BlogPosts" asp-action="Index" class="d-flex align-items-center">
                                    <img class="dark-logo" src="~/img/Pen-Sword_Title-Logo_Light.png" alt="Logo Image" style="border-radius: 5px;">
                                    <img class="white-logo" src="~/img/Pen-Sword_Title-Logo_Dark-Footer.png" alt="Logo Image" style="border-radius: 5px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <!-- Start Post List  -->
                            <div class="d-flex justify-content-start mt_sm--15 justify-content-md-end align-items-center flex-wrap">
                                <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                                <ul class="social-icon color-tertiary md-size justify-content-start">
                                    <li>
                                        <a href="https://www.linkedin.com/in/cadence-eva-custin/" alt="linkedin">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/eva-grimm" alt="github">
                                            <i class="bi bi-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:eva.custin@gmail.com" alt="email">
                                            <i class="bi bi-envelope-at"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Post List  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top Area -->
            <!-- Start Copyright Area  -->
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="copyright-left">
                                <ul class="mainmenu justify-content-start">
                                    <li>
                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="ContactMe">
                                            <span class="hover-flip-item">
                                                <span data-text="Contact Us">Contact Us</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="copyright-right text-start text-lg-end mt_md--20 mt_sm--20">
                                <p class="b3">© 2023 Cadence Eva Custin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area  -->
        </div>
        <!-- End Footer Area  -->
        <!-- Start Back To Top  -->
        <a id="backto-top"></a>
        <!-- End Back To Top  -->
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/tweenmax.min.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="https://kit.fontawesome.com/5f740f3843.js" crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <script>
        $(function () {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
