@model BlogUser

<div class="axil-single-widget widget widget_social mb--30">
    <h5 class="widget-title">Stay In Touch</h5>
    <!-- Start Post List  -->
    <ul class="social-icon md-size justify-content-center">
        @if (Model.LinkedIn != null)
        {
            <li>
                <a href="https://www.linkedin.com/in/cadence-eva-custin/" alt="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        }
        @if (Model.GitHub != null)
        {
            <li>
                <a href="https://github.com/eva-grimm" alt="GitHub">
                    <i class="bi bi-github"></i>
                </a>
            </li>
        }
        @if (Model.Twitter != null)
        {
            <li>
                <a href="https://github.com/eva-grimm" alt="Twitter">
                    <i class="bi bi-twitter"></i>
                </a>
            </li>
        }
        @if (Model.Facebook != null)
        {
            <li>
                <a href="https://github.com/eva-grimm" alt="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
        }
        @if (Model.Instagram != null)
        {
            <li>
                <a href="https://github.com/eva-grimm" alt="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
        }
        @if (Model.Website != null)
        {
            <li>
                <a href="https://github.com/eva-grimm" alt="Website">
                    <i class="bi bi-link-45deg"></i>
                </a>
            </li>
        }
        @if (Model.Email != null)
        {
            <li>
                <a href="mailto:eva.custin@gmail.com" alt="Email">
                    <i class="bi bi-envelope-at"></i>
                </a>
            </li>
        }
    </ul>
    <!-- End Post List  -->
</div>