@model Comment

@{
    ViewData["Title"] = "Edit";
}

<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UpdateReason" class="control-label"></label>
                        <input asp-for="UpdateReason" class="form-control" 
                            placeholder="Why the need for an update?"/>
                        <span asp-validation-for="UpdateReason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <input asp-for="Body" class="form-control" />
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            @if (Model.BlogPost != null)
            {
                <a asp-action="Details" asp-route-slug="@Model.BlogPost.Slug"
                    class="btn btn-secondary">Cancel</a>
            }
            else
            {
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}