@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn btn-primary">
        <a asp-controller="BlogPosts" asp-action="Index" style="color: white!important">
            Blog Posts
        </a>
    </button>
</div>
