@model BlogUser

@{
    ViewData["Title"] = $"Details about {Model.FullName}";
}

<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Start Author  -->
                <partial name="_AuthorAreaPartial" model="Model" />
                <!-- End Author  -->
                <!-- Start Author Profile  -->
                <div class="axil-post-details">
                    <p class="has-medium-font-size">
                        @Model.Bio
                    </p>
                </div>
                <!-- End Author Profile  -->
                <!-- Start Social Icons Widget  -->
                <partial name="_SocialMediaPartial" />
                <!-- End Social Icons Widget  -->
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <partial name="_SidebarPartial" />
                <!-- End Sidebar Area  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
