@model Category
@inject IImageService _ImageService;

@{
    ViewData["Title"] = "Edit Category";
}

<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <h1>Edit</h1>
        <h4>Category</h4>
    </div>
    <hr />
    <main class="container mt-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" for="Id" />
            <input type="hidden" for="ImageData" />
            <input type="hidden" for="ImageType" />
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label">Category Image</label>
                        <img id="categoryImage" class="img-fluid border rounded-3 mb-2" style="max-height: 350px;"
                             src="@_ImageService.ConvertByteArrayToFile(Model?.ImageData!,Model?.ImageType!, DefaultImage.CategoryImage)">
                        <input asp-for="ImageFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                               onchange="document.getElementById('categoryImage').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group mt-5 start-0">
            <a asp-action="Index">Back</a>
        </div>
    </main>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}